{% extends "baseBackend.html" %}

{% block title %}Главная. Админка{% endblock %}

{% block header %}
<h1>Категория. Админка</h1>
{{ componentNotify|raw }}
{% endblock %}

{% block menu %}
{{ componentMenu|raw }}
{% endblock %}

{% block content %}


{% if username %}
    <h3> Вы авторизованы под именем &laquo;{{ username }}&raquo; </h3>
    <a href="/admin?exit=1">Выйти</a>

{% else %}
    <h3> Для работы с разделом необходима авторизация </h3>
    {{ formLogin|raw }}
{% endif %}

{% endblock %}