<div class="form">
    <form action="{{ action }}" method="{{ method }}" name="{{ name }}">


        {% for field in fields %}

            {% if field.htmlTag == 'input_hidden' %}
            <div class="hidden">
                <input type="hidden" name="{{ field.name }}" value="{{ field.value }}" id="{{ loop.parent.name }}_{{ field.name }}">
            </div>
            {% endif %}

            {% if field.htmlTag == 'select' %}
            <div>
                <div>
                    <label for="{{ loop.parent.name }}_{{ field.name }}">{{ field.label }}</label>
                </div>
                <div>
                    <select name="{{ field.name }}" value="{{ field.value }}" id="{{ loop.parent.name }}_{{ field.name }}">
                        {% for option in field.data %}
                            <option value="{{ option.id }}" {% if option.id == loop.parent.field.value %}selected="selected"{% endif %}>{{ option.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            {% endif %}

            {% if field.htmlTag == 'input_text' %}
                <div>
                    {% if field.error %}
                        <div class="error">{{ field.error|raw }}</div>
                    {% endif %}
                    <div>
                        <label for="{{ loop.parent.name }}_{{ field.name }}">{{ field.label }}</label>
                    </div>
                    <div>
                        <input type="text" name="{{ field.name }}" value="{{ field.value }}" id="{{ loop.parent.name }}_{{ field.name }}">
                    </div>
                </div>
            {% endif %}

            {% if field.htmlTag == 'textarea' %}
                <div>
                    {% if field.error %}
                        <div class="error">{{ field.error|raw }}</div>
                    {% endif %}
                    <div>
                        <label for="{{ loop.parent.name }}_{{ field.name }}">{{ field.label }}</label>
                    </div>
                    <div>
                        <textarea name="{{ field.name }}" id="{{ loop.parent.name }}_{{ field.name }}">{{ field.value }}</textarea>
                    </div>
                </div>
            {% endif %}

            {% if field.htmlTag == 'input_submit' %}
                <div>
                    <input type="submit" name="{{ field.name }}" value="{{ field.value }}" id="{{ loop.parent.name }}_{{ field.name }}">
                </div>
            {% endif %}

        {% endfor %}


    </form>
</div>