<div class="form">
    <form action="{{ action }}" method="{{ method }}" name="{{ name }}" {% if multipart == true %}enctype="multipart/form-data"{% endif %}>


        {% for field in fields %}

            {% if field.htmlTag == 'input_hidden' %}
            <div class="hidden">
                <input type="hidden" name="{{ field.name }}" value="{{ field.value }}" id="{{ loop.parent.name }}_{{ field.name }}">
            </div>
            {% endif %}

            {% if field.htmlTag == 'select' %}
            <div class="row">
                <div>
                    <label for="{{ loop.parent.name }}_{{ field.name }}">{{ field.label }}</label>
                </div>
                <div>
                    <select name="{{ field.name }}" value="{{ field.value }}" id="{{ loop.parent.name }}_{{ field.name }}">
                        {% for option in field.data %}
                            <option value="{{ option.id }}" {% if option.id == loop.parent.field.value %}selected="selected"{% endif %}>{{ option.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            {% endif %}

            {% if field.htmlTag == 'checkbox' %}
            <div class="row">
                <div>
                    <label for="{{ loop.parent.name }}_{{ field.name }}">{{ field.label }}</label>
                </div>
                <div>
                    <input type="checkbox" name="{{ field.name }}" value="1" id="{{ loop.parent.name }}_{{ field.name }}" {% if field.value %}checked="checked"{% endif %}>
                </div>
            </div>
            {% endif %}

            {% if field.htmlTag == 'input_text' %}
                <div class="row">
                    {% if field.error %}
                        <div class="error">{{ field.error|raw }}</div>
                    {% endif %}
                    <div>
                        <label for="{{ loop.parent.name }}_{{ field.name }}">{{ field.label }}</label>
                    </div>
                    <div>
                        <input type="text" name="{{ field.name }}" value="{{ field.value }}" id="{{ loop.parent.name }}_{{ field.name }}">
                    </div>
                </div>
            {% endif %}

            {% if field.htmlTag == 'input_file' %}
            <div class="row file_row">
                {% if field.error %}
                <div class="error">{{ field.error|raw }}</div>
                {% endif %}
                <div>
                    <label for="{{ loop.parent.name }}_{{ field.name }}">{{ field.label }}</label>
                </div>
                <div>
                    <input type="file" name="{{ field.name }}" id="{{ loop.parent.name }}_{{ field.name }}">
                    <input type="hidden" name="{{ field.name }}_old" value="{{ field.value }}" id="{{ loop.parent.name }}_{{ field.name }}_old">
                </div>
                {% if field.value %}
                    <div class="preview"><img src="{{ field.value }}?cache={{ date().timestamp }}"></div>
                {% endif %}
            </div>
            {% endif %}

            {% if field.htmlTag == 'textarea' %}
                <div class="row">
                    {% if field.error %}
                        <div class="error">{{ field.error|raw }}</div>
                    {% endif %}
                    <div>
                        <label for="{{ loop.parent.name }}_{{ field.name }}">{{ field.label }}</label>
                    </div>
                    <div>
                        <textarea name="{{ field.name }}" id="{{ loop.parent.name }}_{{ field.name }}">{{ field.value }}</textarea>
                    </div>
                </div>
            {% endif %}

            {% if field.htmlTag == 'input_submit' %}
                <div class="row">
                    <input type="submit" name="{{ field.name }}" value="{{ field.value }}" id="{{ loop.parent.name }}_{{ field.name }}">
                </div>
            {% endif %}

        {% endfor %}


    </form>
</div>