{% extends "base.html" %}

{% block title %}Список продуктов. Админка{% endblock %}

{% block content %}
<h1>Список продуктов. Админка</h1>

{{ component|raw }}

<form method="post">
    <table>

        <tr>
            <td>id</td>
            <td>Название</td>
            <td>Фото</td>
            <td>Удалить</td>
            <td>&nbsp;</td>
        </tr>

        {% for product in products %}
        <tr>
            <td>{{ product.id }}</td>
            <td>{{ product.name|e }}</td>
            <td>{{ product.file }}</td>
            <td><input type="checkbox" name="remove" value="{{ category.id }}"></td>
            <td><a href="/admin/category/?id={{ category.id }}">Редактировать</a>
        </tr>
        {% endfor %}

        <tr>
            <td colspan="4"><input type="submit"></td>
        </tr>

    </table>
</form>


{% endblock %}
