{% extends "baseBackend.html" %}

{% block title %}Список продуктов. Админка{% endblock %}


{% block header %}
<h1>Список продуктов. Админка</h1>
{{ componentNotify|raw }}
{% endblock %}

{% block menu %}
{{ componentMenu|raw }}
{% endblock %}


{% block content %}

{{ filterR|raw }}

<form method="post">
    <table class="list">

        <tr>
            <td>id</td>
            <td>Название</td>
            <td>Дата создания</td>
            <td>Дата изменения</td>
            <td>Удалить</td>
            <td>&nbsp;</td>
        </tr>

        {% for product in products %}
        <tr>
            <td>{{ product.id }}</td>
            <td>{{ product.name|e }}</td>
            <td>{{ product.date_create }}</td>
            <td>{{ product.date_modifed }}</td>
            <td><input type="checkbox" name="remove[]" value="{{ product.id }}"></td>
            <td><a href="/admin/product/?id={{ product.id }}">Редактировать</a>
        </tr>
        {% endfor %}

        <tr>
            <td colspan="5"><input type="submit"></td>
            <td><a href="/admin/product/?id=0">Добавить</a></td>
        </tr>

    </table>
</form>

{% endblock %}
