/*Подтверждение общий компонент*/
.confirm-submit-popap{
    position: fixed;
    top: 90px;
    left: 10%;
    background: #fff;
    border: 1px solid black;
    width: 500px;
    height: 300px;
}
.confirm-submit-popap .buttons {
    bottom: 0;
    position: absolute;
    left: 30%;
    width: 300px;
}
.confirm-submit-popap .buttons button{
    margin: 10px;
    width: 75px;
    padding: 5px;
    background: #eef;
}
.confirm-submit-popap .message {
    width: 90%;
    margin: 30px auto;
    border: 1px solid;
    border-radius: 7px;
    min-height: 204px;
    padding: 5px;
    text-align: center;
    background: #fdd;
}


/*Пагинатор общий компонент*/
.paginator {
    text-align: center;
    height: 35px;
    clear: both;
    padding: 10px;
}
.paginator a{
    color: black;
    font-weight: bold;
}
.paginator .pager_content {
    background: #aaeeee;
    border-radius: 5px;
    padding: 7px;
}
.paginator .page, .paginator .limit  {
    padding-left: 10px;
}
.paginator .current {
    color: red;
}