{% extends "baseFrontend.html" %}

{% block title %}Продукт ХХХ{% endblock %}

{% block header %}
<h1>Продукт ХХХ</h1>
{% endblock %}

{% block menu %}
{{ leftMenu|raw }}
{% endblock %}

{% block content %}
<div class="product_page">
    <h2>{{product.name}}</h2>
    <div class="img"><img src="{{product.file}}"></div>
    <div class="info">
        <h3>Информация</h3>
        <table>
            <tr>
                <td>id</td>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <td>Цена</td>
                <td>{{ product.price }}</td>
            </tr>
            <tr>
                <td>Дата добавления</td>
                <td>{{ product.date_create }}</td>
            </tr>
            <tr>
                <td>Налисие на складе</td>
                <td>
                    {% if product.isset %}
                        Присутствует
                    {% else %}
                        Отсутствует
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>

    <div class="description">
        <h3>Описание</h3>

        {{ product.description }}
    </div>
</div>



{% endblock %}
